

<div class="hero-unit" id="splashHero">
  <h1>#peoplewatching bingo</h1>
  <p>Transform your public transportation downtime into an urban safari</p>
  <p>
  	<%=image_tag('spypaper.png', :class => "spyImage")%>
    <a class="btn btn-primary btn-large btn-green" id="homeSplashButton">
      Start Playing
    </a>
  </p>
</div>